@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

:root {
    --lavender-gray: #c8bfc7ff;
    --morning-blue: #a1ad9fff;
    --russian-green: #7a9b76ff;
    --middle-grey: #8a7e72ff;
    --caput-mortuum: #5a2328ff;
    --smoky-black: #090302ff;
}

* {
    margin: 7px;
    box-sizing: border-box;
}
 body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
 }
 .nav {
    background-color: #333;
    font-family: 'Lora', serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: .25rem;
 }

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
}

.nav li.active {
    background-color: #777;
}

.nav li:hover {
    background-color: #777;
}



ul {
    padding-top: 12px;
}

.header {
    background-color: var(--russian-green);

}
.navbar li {
    font-size: 30px;
    text-decoration: none;
    margin: 25px;
    white-space: nowrap;
    list-style-type: none;
    display: inline;
}

:hover .navbar li {
    cursor: pointer
}

.navbar {
    background: #BEEE62;
    height: 60px;
    display: inline flex;
    text-align: right;
    margin-top: 0px;
}
/* @keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
} */